header {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
body{
    background-image: url("../img/freepik__adjust__61190.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: rgba(206, 80, 7, 0.525);
  padding: 10px;
  border-radius: 5px;
}

.nav-links {
  display: inline-flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  background-color: rgba(191, 89, 22, 0.5);
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.nav-links li {
  list-style: none;
  padding: 18px 10px;
  cursor: pointer;
  margin: 0 10px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

